hey
<% @search_results.each do |res| %>
  <div><%= res.title %></div>
<% end %>

<br />
<% @result.each do |tweet| %>
  <% tweet.user_mentions.each do |mention| %>
    <div><%= mention.attrs[:screen_name] %></div>
  <% end %>
  <br />
<% end %>
